.header {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}
.sun {
  color: #fff;
  background-color: orange;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  /* border: 1.5px solid #ffe484; */
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.moon {
  color: #fff;
  background-color: black;
  margin-right: 15px;
  width: 35px;
  height: 35px;
  /* border: 1.5px solid black; */
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
